<html>
    <head>
        <meta charset="UTF-8"> 
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <div id="planner" class="container">
            <h2>Planner</h2>
            <input v-model="item" placeholder="new item">
            <button v-on:click="add_new_item">Add Item</button>
            <input v-model="group" placeholder="new group">
            <button v-on:click="add_new_group">Add Group</button>
            <h3>Item List <button v-on:click="shuffle_items">Shuffle</button> </h3>
            <ul id="all_item_list">
                <li v-for="item in items">
                    {{item}}
                </li>    
            </ul>
            <h3>Groups</h3>
            <ul>
                <li v-for="group in groups">
                    {{group.name}}
                    <ul style="list-style-type:none">
                        <li v-for="item in group.items">
                            <input type="checkbox" id="checkbox" v-model="item.checked">
                            <label for="checkbox">{{item.name}}</label>
                            <select v-on:change="move_item(group)" v-model="item.moved_to">
                                <option></option>
                                <option 
                                    v-for="group_inner in groups" 
                                    v-if="group_inner.name !== group.name"
                                > {{group_inner.name}}
                                </option>
                            </select>
                        </li>
                    </ul>
                </li>    
            </ul>
        </div>
        <script>
        //TODO: Refactor group into key-value pairs where key is group name
         const app = new Vue({
             el: "#planner",
             data: {
                item: "",
                items : [],
                group: "",
                groups: []
            },
             methods: {
                add_new_item : function(event){
                    if(this.item.length == 0)
                        return;
                    this.items.push(this.item);
                    this.item = "";
                },
                add_new_group: function(event){
                    if(this.group.length == 0)
                        return;
                    const new_group = {}
                    new_group.name = this.group;
                    new_group.items = []
                    this.groups.push(new_group);
                    this.group = "";
                },
                shuffle_items: function(event){
                    const num_groups = this.groups.length;
                    if(num_groups == 0)
                        return;
                    let curr_item, rand_idx, curr_group = 0;
                    while(this.items.length > 0){
                        rand_idx = Math.floor(Math.random() * this.items.length);
                        curr_item = {"name": this.items.splice(rand_idx, 1)[0], "checked": false, moved_to:""};
                        console.log(curr_item);
                        this.groups[curr_group].items.push(curr_item);
                        curr_group = (curr_group + 1) % num_groups
                    }
                },
                move_item: function(group){
                    let item_to_move;
                    for(let i = 0; i < group.items.length; i++){
                        if(group.items[i].moved_to !== ""){
                            item_to_move = group.items[i];
                            break;
                        }
                    }

                    if(item_to_move === undefined)
                        return;

                    if(item_to_move.moved_to === group.name)
                        return;

                    const new_group = item_to_move.moved_to;
                    item_to_move.moved_to = "";

                    for(let i = 0; i < this.groups.length; i++){
                        if(this.groups[i].name === new_group){
                            this.groups[i].items.push(item_to_move);
                            group.items.splice(item_to_move);
                            return;
                        }
                    }
                },
            },
         });
        </script>
    </body>
</html>
