<html>
    <head>
        <meta charset="UTF-8"> 
        <script src=%% url_for("static", filename="bower_components/vue/dist/vue.js") %%></script>
        <script src=%% url_for("static", filename="bower_components/axios/dist/axios.js") %%></script>
    </head>
    <body>
        <div id="planner" class="container">
            <h2>Planner</h2>
            <input v-model="item" placeholder="new item">
            <button v-on:click="add_new_item">Add Item</button>
            <input v-model="group" placeholder="new group">
            <button v-on:click="add_new_group">Add Group</button>
            <h3>Item List <button v-on:click="shuffle_items">Shuffle</button> </h3>
            <ul id="all_item_list">
                <li v-for="item in items">
                    {{item}}
                </li>    
            </ul>
            <h3>Groups</h3>
            <ul>
                <li v-for="(items, group_name, _) in groups">
                    {{group_name}}
                    <ul style="list-style-type:none">
                        <li v-for="item in items">
                            <input type="checkbox" id="checkbox" v-model="item.checked">
                            <label for="checkbox">{{item.name}}</label>
                            <select v-on:change="move_item(group_name)" v-model="item.moved_to">
                                <option></option>
                                <option 
                                    v-for="(_, group_inner_name, _) in groups" 
                                    v-if="group_inner_name !== group_name">
                                    {{group_inner_name}}
                                </option>
                            </select>
                        </li>
                    </ul>
                </li>    
            </ul>
        </div>
        <script>
        //TODO: Refactor group into key-value pairs where key is group name
         const app = new Vue({
             el: "#planner",
             data: {
                item: "",
                items : [],
                group: "",
                groups: {}
             },
             created: function(){
                axios.get("/api/planner")
                    .then(function(response){
                        app.items = response.data.items;
                        app.groups = response.data.groups;
                    });
             },
             methods: {
                add_new_item : function(event){
                    if(this.item.length == 0)
                        return;
                    this.items.push(this.item);
                    this.item = "";
                },
                add_new_group: function(event){
                    if(this.group.length == 0)
                        return;
                    //FIXME: Group passed in that already exists...
                    this.groups[this.group] = []
                    this.group = "";
                },
                shuffle_items: function(event){
                    /*
                    / TODO: The algorithm should not always
                    / start at the first group because if the
                    / user repeatedly adds on item and shuffles
                    / then the first user will get that object every
                    / time.
                   */
                    const all_groups = Object.keys(this.groups);
                    const num_groups = all_groups.length
                    if(num_groups == 0)
                        return;
                    let curr_item, rand_idx, curr_group_idx = 0;
                    while(this.items.length > 0){
                        rand_idx = Math.floor(Math.random() * this.items.length);
                        //TODO: Create a function to generate this object
                        curr_item = {"name": this.items.splice(rand_idx, 1)[0], "checked": false, moved_to:""};
                        this.groups[all_groups[curr_group_idx]].push(curr_item);
                        curr_group_idx = (curr_group_idx + 1) % num_groups
                    }
                },
                move_item: function(group_name){
                    let item_to_move;
                    let i;

                    //Find the item that we are supposed to try and move
                    for(i = 0; i < this.groups[group_name].length; i++){
                        //FIXME: Hack until proper data communicator object is created...
                        //Can't just do app.groups=... and app.items=... directly in the
                        //create method; have to initialize with proper fields
                        if(!["", undefined].includes(this.groups[group_name][i].moved_to)){
                            item_to_move = this.groups[group_name][i]
                            break;
                        }
                    }

                    if(item_to_move === undefined)
                        return;

                    //If the item was somehow moved to a the group it is 
                    //already in somehow then quit.
                    if(item_to_move.moved_to === group_name)
                        return;

                    const new_group = item_to_move.moved_to;
                    item_to_move.moved_to = "";

                    //Finally do the actual item move 
                    this.groups[new_group].push(item_to_move)
                    const remove_idx = this.groups[group_name].indexOf(item_to_move);
                    this.groups[group_name].splice(remove_idx,1);
                },
            },
         });
        </script>
    </body>
</html>
