<html>
    <head>
        <meta charset="UTF-8"> 
        <script src=%% url_for("static", filename="bower_components/vue/dist/vue.js") %%></script>
        <script src=%% url_for("static", filename="bower_components/axios/dist/axios.js") %%></script>
        <link rel="stylesheet" href=%% url_for("static", filename="css/style.css") %%>
    </head>
    <body>
        <div id="planner" class="container">
            <h2>Planner</h2>
            <input v-model="item" placeholder="new item">
            <button v-on:click="add_new_item">Add Item</button>
            <input v-model="group" placeholder="new group">
            <button v-on:click="add_new_group">Add Group</button>
            <h3>Item List <button v-on:click="shuffle_items">Shuffle</button> </h3>
            <ul id="all_item_list">
                <li v-for="item in items">
                    {{item}}
                    <button type="button" v-on:click="deleteItem(item)"> Delete </button>
                </li>    
            </ul>
            <h3>Groups</h3>
            <ul>
                <li v-for="(items, group_name, _) in groups">
                    {{group_name}}
                    <ul style="list-style-type:none">
                        <li v-for="item in items">
                            <input type="checkbox" id="checkbox" v-model="item.checked" v-on:click="checkItem">
                            <label for="checkbox">{{item.name}}</label>
                            <button
                                class="dropdown_button"
                                type="button"
                                v-on:click="item.expanded=!item.expanded">
                                &#9660;
                            </button>
                            <div class="item_interactions" v-if="item.expanded" >
                                <select v-on:change="move_item(group_name)" v-model="item.moved_to">
                                    <option></option>
                                    <option
                                        v-for="(_, group_inner_name, _) in groups"
                                        v-if="group_inner_name !== group_name">
                                        {{group_inner_name}}
                                    </option>
                                </select>
                            <button type="button" v-on:click="item.deleted=!item.deleted;deleteItemFromGroup(group_name)"> Delete </button>
                            </div>
                        </li>
                    </ul>
                </li>    
            </ul>
        </div>
        <!--TODO: See if this can be done once window has been loaded-->
        <script src=%% url_for("static", filename="javascript/app.js") %%></script>
    </body>
</html>
